*{
    margin: 0px 0px;
    padding: 0px 0px;
}

ol,ul {list-style: none;}
a{color:#555;}
a:link{}
a:visited{}
a:hover{text-decoration: none!important;color: #ED741C;}
a:active{}
.hv-white:hover{
    color: #fff;
}

.hv-orange:hover{
    color: #ED741C;
}

.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}
.mt-35{
    margin-top: 35px;
}
.mt-40{
    margin-top: 40px;
}
.mt-45{
    margin-top: 45px;
}
.mt-50{
    margin-top: 50px;
}
.mt-100{
    margin-top: 100px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-100{
    margin-bottom: 100px;
}

.text-red{
    color: #f00;
}

.text-green{
    color: #0f0;
}

.text-blue{
    color: #00f;
}

body{
    background-image: url(../imgs/body_repeat.png);
    background-repeat: no-repeat;
}

#top-post{height: 48px;}
#top-box{position: fixed;z-index: 999;width:100%;}

#top{
    height: 48px;
}

#search{
    background: #eee;
}

#top-nuv li{
    float: left;
    margin-left: 50px;
    line-height: 48px;
}

.nuv-ico{
    font-size: 18px;
}

#index-nav li{
    height: 34px;
    width: 100%;
    line-height: 34px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    /*font-family:楷体;*/
    color:#fff;
}

#index-nav a{
    color:#fff;
    /*text-decoration:none;*/
}

#index-nav{
    position: fixed;
}

#index-nav li{
    width: 135px;
}

#index-nav li:hover{
    background-color:rgba(255,255,255,0.4);
    cursor:pointer;

}

.weibo-content{
    background-color: #fff;
    margin-top: 10px;
    padding:10px!important;
    border-radius: 3px;
}

.img-box li{
    float: left;
    margin:0px 2px;
    width: 157px;
    height: 122px;
}

.weibo-content div{
    margin: 2px;
}

.sub-box{
    margin-top: 5px!important;
}


.weibo-btn{
/*    margin-right: 15px;*/
    margin-top: 5px;
    width:70px;
    text-align: left;
}

.text-box{
    font-size: 12px;
    line-height: 20px;
    color: #777;
}

.weibo-title{
    font-size: 18px;
    font-family: '微软雅黑';
    display: block;
    margin-bottom: 5px;
    color: #000;
}


#body-bg{
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    z-index: 0;
    top: 0px;
}


#hot-box{
    margin-top:10px;
    
}

#hot-box>div{
    margin-bottom: 10px;
    background-color: #fff;
    border-radius:3px;
}



#hot-talk-btn{
    line-height: 38px;
    padding: 1px 16px;
    border-bottom: 1px solid #ccc;
}


#hot-talk-list{
    width:226px;
    padding:10px 16px;
    margin-right: 0px;
}

#hot-talk-list span{
    color: #aaa;
    font-size: 12px;
}

#hot-talk-list li{
    margin-bottom: 10px;
    font-size: 12px;
    color: #888;
}

#hot-talk-more{
    line-height: 38px;
    border-top: 1px solid #ccc;
}

.face-box-sm{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.top-person{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.top-person:nth-last-of-type(1){
    border-bottom: 1px solid #fff;
    padding-bottom: 1px;
    margin-bottom: 0px!important;
    /*background-color: #000;*/
}

.top-person-list{margin-bottom:0px;}

.btn-box{
    font-size: 12px;
    color: #aaa!important;
}

#talk-list a{
    color: #000;
}

#talk-list a:hover{
    color: #ED741C;
}

.btn-box a{
    color:#777;
}

.btn-box a:hover{
    color:#ED741C;
}

.person-info{
    display: inline-block;
    margin-top: 5px;
    margin-left: 2px;
}

#login-btn:hover{
    color:#ED741C;
    cursor:pointer;
}

.code{
    padding:0px 0px!important;
}

#weibo-edit{
    width: 100%;
    height: 100px;
    resize: none; 
    overflow-y:none;
    overflow-x:hidden;
    padding:5px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0.1px #808080 inset;
}


#count-box{
    line-height: 34px;
    color: #666;
    font-size: 14px;
}

#weibo-count{
    color:#ED741C;
}

.weibo-face-box{
    overflow: hidden;
    border-radius: 50%;
    /*border:1px solid red;*/
    width: 50px;
    height:50px;
    display: inline-block;
}

.weibo-content-box{
    width: 88%;
    padding:5px;
    position: relative;
}

.weibo-content-box span{
    color:#808080;
    font-size: 12px;
}

.weibo-content-box div{
    font-size: 14px;
    font-family: 微软雅黑;
    line-height: 20px;
}

.weibo-btn-box{
    border-top: 1px solid #ccc;
}

.weibo-btn-box div{
    width: 32%;
    text-align: center;
    float: left;
    border-left: 1px solid #999999;
    margin-top: 10px;
    font-size: 12px;
    color: #808080;
}

.weibo-btn-box div:hover{
    color:#ED741C;
}

.weibo-btn-box div{
    cursor:pointer;
}

.weibo-btn-box div:first-child{
    border:none;
}



#tianqi-box{
    position:fixed;
    bottom: 0px;
    right: 0px;
    color: #ED741C;
}

.weibo-comment-box{
    background: #eee;
    padding:15px 0 5px 0;
    position: relative;
    top:-2px;
    border-radius: 0 0 4px 4px;
}

.weibo-comment-edit{
    width: 100%;
    height: 30px;
    resize: none; 
    overflow-y:hidden;
    overflow-x:hidden;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0.1px #808080 inset;
    padding: 4px;
}

.comment-btn{
    width:55px;
    height: 25px;
}

.wb-comment-list{
    border-top:1px solid #bbb;
    padding:10px 0;
}

.comment-edit-box{
    margin-bottom: 10px;
}

.weibo-face{
    width: 50px;
    height: 50px;
}

.wb-comment-face{
    width: 30px;
    height: 30px;
}

.comment-face-box{
    width:30px;
}
.wb-comment-info{
    margin-top: -5px;
    width:100%-30px;
    margin-left: 45px;
    word-wrap:break-word;
}

.wb-comment-info .time{
    color:#808080;
    font-size: 12px;
}

.comment-content{
    font-size: 12px;
    font-family: 微软雅黑;
}

.wb-comment-info .wb-cmt-ctt-btn{
    font-size: 12px;
    color:#808080;
    margin-left: 10px;
}
