*{
    margin: 0px 0px;
    padding: 0px 0px;
    list-style: none;
}

.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}
.mt-35{
    margin-top: 35px;
}
.mt-40{
    margin-top: 40px;
}
.mt-45{
    margin-top: 45px;
}
.mt-50{
    margin-top: 50px;
}
.mt-100{
    margin-top: 100px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-100{
    margin-bottom: 100px;
}

.text-red{
    color: #f00;
}

.text-green{
    color: #0f0;
}

.text-blue{
    color: #00f;
}

#top{
    height: 48px;
}

#search{
    background: #eee;
}

#top-nuv li{
    float: left;
    margin-left: 50px;
    line-height: 48px;
}

.nuv-ico{
    font-size: 20px;
}